
.wrappedDiv {
    background-color: darkgrey;
    border-radius: 10px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.leafAndChildren {
    width: 100%;
}
.treeLeaf {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    text-align: start;
    width: 100%;

    padding-left: 20px;/* Расстояние для каждого нового листа*/
}
.treeLine {
    margin: 5px 0 5px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    vertical-align: center;
    align-items: center;
    width: 100%;
    min-height: 20px;
    gap: 10px;
    padding-left: 10px;
}
.selectedLine {
    background-color: cornflowerblue;
    min-height: 35px;
    /*padding: 0 10px 0 10px;*/
}
.navLink {
    color: #312f2f;
    text-decoration: none;
}