.wrapped_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 700px;
    /*display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;*/

    horiz-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;


    margin-top: 20px;
    margin-bottom: 20px;
}

.title {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    horiz-align: center;
    justify-content: center;
    gap: 20px;
}
.photo_div {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 10px;
}
.big_eagle_photo {
    width: 300px;
    height: 300px;
    border: grey 2px solid;
    border-radius: 50%;
    text-align: center;
    alignment: center;
}

.description {
    /*align-self: center;
    text-align: center;*/
    white-space: pre-line;
    margin-top: 10px;
}

.edit_description_div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.editDescriptionText {
    width: 450px;
    height: 300px;
}
.changeDescrPhotoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}