.accordion {
    width: 100%;
}
.lineDiv {
    margin: 5px 0 5px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
    align-items: center;
    width: 100%;
    min-height: 20px;
    gap: 20px;
    padding-left: 10px;
}
.lineDiv_selected {
    background-color: cornflowerblue;
    min-height: 35px;
}
.sdiv_left {
    /*margin: 5px 0 5px 0;*/
    display: flex;
    flex-direction: row;
    vertical-align: center;
    align-items: center;
    width: 100%;
    min-height: 20px;
    gap: 10px;
    padding-left: 10px;
}
.sdiv_right {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

.searchField {
    width: 60%;
}
.max_width {
    width: 100%;
}
.search_div {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.results_table {
    width: 100%;
    background-color: darkgrey;
    border-radius: 5px;
    cellPadding: 3px;
}
.table_tr_style_selected {
    border-radius: 10px;
    background-color: cornflowerblue;
}
.arrow:hover {
    color: green;
    cursor: pointer;
}
.protocol_div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0 10px 0;
}
.user_id_div {
    margin: 20px 0 20px 0;
    width: 100%;
}
.user_id_selection {
    width: 400px;
    min-height: 35px;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    font-size: 16px;
    font-family: Helvetica;
}
.question_success {color: #0f460f;}
.question_error {color: #852121;}

.add_buttons_div {
    display: flex;
    flex-direction: row;
    margin: 30px 0 20px 0;
    padding: 15px;
    border: black 1px solid;
    gap: 20px;
    justify-content: center;
}

.lineDiv2 {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20px;
    gap: 20px;
}