.wrappedDiv {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;

    gap: 30px;
    margin: 20px 0 20px 0;
}
.titleDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.titleDivDesription {
    text-align: center;
}
.loginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.error {
    color: red;
}
.signUpButton {
    width: 200px;
    height: 40px;
}
.loginButton {
    width: 200px;
    height: 40px;
}

.signup_textFields {
    width: 400px;
    height: 30px;
}
.login_textFields {
    width: 400px;
    /*height: 30px;*/
}
.navLink1 {
    text-decoration: none;
}

.successDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    align-items: center;
}